:root {
  // --very-light-accent: #E4ECD5;
  // --light-accent: #B5CA8D;
  // --medium-accent: #8BB174;
  // --dark-accent: #2A4849;
  //
  // --medium-main: #426B69;
  // --dark-main: #222E50;

  --medium-accent: #FFD200;

  --medium-main: #E11815;
  --dark-main: #951022;

  --white: #FFF;
  --off-white: #F8F8F8;
  --light-gray: #EEE;
  --medium-gray: #CCC;
  --dark-gray: #444;

  --probability-viewer-size: 900px;
  --potential-viewer-size: 600px;
}

html {
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  font-family: helvetica;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 18px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 11;
}

#nav-title {
  font-size: 32px;
  padding: 15px 0 0 15px;
  background-color: var(--medium-main);
  color: var(--light-gray);
}

#nav-links-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px;
  background-color: var(--medium-main);
}

#nav-links-holder a:link {
  display: flex;
  margin: 4px 4px;
  padding: 16px 16px 12px 16px;
  text-decoration: none;
  color: var(--white);
}

#nav-links-holder a:visited {
  text-decoration: none;
  color: var(--white);
}

#nav-links-holder a:hover {
  text-decoration: none;
  color: var(--white);
  border-radius: 10px 10px;
  background-color: var(--dark-main);
}

#current-link {
  background-color: var(--dark-main);
  border-radius: 10px 10px;
}

#nav-content-footer {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-start;
  min-height: 100vh;
}


footer {
  margin-top: auto;
  padding: 5px;
  background-color: var(--medium-gray);
  color: var(--dark-gray);
}


#page-content {
  display: flex;
  flex: 1 0 auto;
  background-color: var(--off-white);
}

#splash-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: stretch;
  padding: 40px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#splash-title-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 40px;
}

#main-title {
  font-size: 2.5em;
  max-width: 720px;
  align-self: center;
}

#title-catchline {
  font-size: 1.8em;
  margin-top: -10px;
  max-width: 600px;
  align-self: center;
}

#splash-card-container {
  display: flex;
  flex-direction: column;
  align-self: left;
  justify-content: space-evenly;
}

.splash-card {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 10px 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.splash-card-heading {
  font-size: 1.2em;
}

.splash-card-body {
  font-size: 1em;
  padding-top: 10px;
}

.sponsor-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}


.data-browser-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.fn-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--off-white);
  border-radius: 10px;
}

.fn-thumb {
  width: 10vw;
}


.data-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  margin: 20px 5%;
  border-radius: 10px 20px;
  background-color: var(--white);
}

.data-two-col {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-height: var(--probability-viewer-size) + var(--potential-viewer-size);
  margin-left: auto;
  margin-right: auto;
}

.data-l-col {
  display: flex;
  flex-direction: column;
  min-width: auto;
  padding: 5%;
}

.data-r-col {
  display: flex;
  min-width: var(--probability-viewer-size);
}

.data-viewer-2d {}

.fn-viewer-container {
  display: flex;
  flex-direction: column;
}

.fn-viewer-2d {
  display: flex;
  flex: 5 0 auto;
}

.viewer2d-controls {
  display: flex;
  flex: 1 0 auto;
}

.plots-2d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5%;
  gap: 10px;
}

.carousel2d {
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.method-comparison-plot {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.three-phase-plot {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


.blog-browser-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}


.post-holder {
  display: flex;
  flex-direction: column;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  min-width: 720px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2.5%;
  border-radius: 10px 20px;
  background-color: var(--white);
}
